{% set title = 'Редактирование пользователя ' ~ user.fullname %}

{% extends 'InstudiesAdminBundle:Shared:base.html.twig' %}

{% block content %}

	<div id="manage-user">

		<header class="page-header">
			<h2>{{ title }}</h2>
		</header>
        {% if app.session.hasFlash('notice_flash_error') %}
        <div class="alert alert-error">
            An error has occurred during item update.
            {{ form_errors(edit_form) }}
        </div>
        {% endif %}
        {% if app.session.hasFlash('notice_flash_success') %}
        <div class="alert alert-success">
            Item has been successfully updated.
        </div>
        {% endif %}
        {% form_theme edit_form 'InstudiesAdminBundle:Form:edit_fields.html.twig' %}
		<form id="manage-user" class="manage-user" action="{%if form_action=='id'%}{{ path('admin_management_user_edit_id', {'id': user.id}) }}{%else%}{{ path('admin_management_user_edit_email', {'email': user.email}) }}{%endif%}" method="post">
            <fieldset>
                {{ form_widget(edit_form) }}
                <button type="submit" name="send_button" value="1" class="btn btn-success">сохранить</button>
                <button type="submit" name="delete_button" value="1" class="btn btn-danger">удалить</button>
			</fieldset>
		</form>

	</div>

{% endblock %}